<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COVID-19 India Dashboard</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/w3schools.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

     <script src="{{ url_for('static', filename='js/analysis.js') }}"></script>

</head>
<body onload="myFunction()">
<div>
    <div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
  <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
  <a href="#" class="w3-bar-item w3-button" onclick="window.location.href='{{ url_for( 'landing') }}';">Live Dashboard</a>
  <a href="#" class="w3-bar-item w3-button" onclick="window.location.href='{{ url_for( 'analysisLanding') }}';">Gender and Age Analysis</a>
  <a href="#" class="w3-bar-item w3-button" onclick="window.location.href='{{ url_for( 'stateAnalysisLanding') }}';">Geographical Analysis</a>
  <a href="#" class="w3-bar-item w3-button" onclick="window.location.href='{{ url_for( 'metroAnalysisLanding') }}';">Metro Cities</a>
  </div>
    <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">☰</button>
</div>
<center><h1><span id="websiteHeader">COVID-19 India Analysis</span></h1></center>
<marquee><span id="slidingMarquee">Stay Home.!  Stay Safe..! Wash your hands.! Wear mask outdoors.!</span></marquee>

      <div id="overlay">
        <div id="progstat"></div>
          <img src="{{ url_for('static', filename='img/load.gif') }}" id="imgLoad" >
        <div id="progress"></div>
      </div>
<div>
        <div class="statesrow">
            <div class="statescolumn" >
                        <figure class="highcharts-figure">
                                <div id="container"></div>
                                <p class="highcharts-description">
                                </p>
                        </figure>

            </div>
             <div class="statescolumn" >
                                    <div class="card">
                            <h2>Total Individuals Analysed </h2>
                            <span id="ageSampleSize"> </span>
                            <h2>Average Age for Confirmed cases </h2>
                            <span id="ageAverage"> </span>
                             <h2>Total Deaths Analysed </h2>
                            <span id="deathsSampleSize"> </span>
                               <h2>Average Age of Deceased</h2>
                            <span id="deceasedAgeAverage"> </span>
                                    </div>
             </div>
        </div>
</div>

<div>
        <div class="statesrow">
            <div class="statescolumn" >
                        <figure class="highcharts-figure">
                                <div id="container2"></div>
                                <p class="highcharts-description">
                                </p>
                        </figure>

            </div>
            <div class="statescolumn" >
                        <figure class="highcharts-figure">
                                <div id="container3"></div>
                                <p class="highcharts-description">
                                </p>
                        </figure>

            </div>
        </div>




</div>


<div>
        <div class="row">
            <div class="column" >
                        <figure class="highcharts-figure">
                                <div id="container4"></div>
                                <p class="highcharts-description">
                                </p>
                        </figure>

            </div>
            <div class="column" >
                        <figure class="highcharts-figure">
                                <div id="container5"></div>
                                <p class="highcharts-description">
                                </p>
                        </figure>

            </div>
            <div class="column" >
                        <figure class="highcharts-figure">
                                <div id="container6"></div>
                                <p class="highcharts-description">
                                </p>
                        </figure>

            </div>

            <div class="column" >
                <br>
                                    <div class="card">
                            <h2>Total Individuals Considered for Analysis </h2>
                            <span id="deathsGenderSampleSize"> </span>

                                    </div>
             </div>
        </div>




</div>

<div>
        <div class="statesrow">


        </div>

</div>
</body>
</html>