<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COVID-19 India Dashboard</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/w3schools.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
     <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- Resources -->
        <script src="https://www.amcharts.com/lib/4/core.js"></script>
        <script src="https://www.amcharts.com/lib/4/charts.js"></script>
        <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/data.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="{{ url_for('static', filename='js/lstm.js') }}"></script>
</head>
<body onload="predict()">
<div>
<div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
  <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
  <a href="#" class="w3-bar-item w3-button" onclick="window.location.href='{{ url_for( 'landing') }}';">Live Dashboard</a>
  <a href="#" class="w3-bar-item w3-button" onclick="window.location.href='{{ url_for( 'analysisLanding') }}';">Gender and Age Analysis</a>
  <a href="#" class="w3-bar-item w3-button" onclick="window.location.href='{{ url_for( 'stateAnalysisLanding') }}';">Geographical Analysis</a>
     <a href="#" class="w3-bar-item w3-button" onclick="window.location.href='{{ url_for( 'metroAnalysisLanding') }}';">Metro Cities</a>
       <a href="#" class="w3-bar-item w3-button" onclick="window.location.href='{{ url_for( 'prediction') }}';">Facebook Prophet Prediction</a>
    <a href="#" class="w3-bar-item w3-button" onclick="window.location.href='{{ url_for( 'arima') }}';">ARIMA Prediction</a>

</div>
     <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">☰</button>
</div>
<center><h1><span id="websiteHeader">COVID-19 India Prediction</span></h1></center>
<marquee><span id="slidingMarquee">Stay Home.!  Stay Safe..! Wash your hands.! Wear mask outdoors.!</span></marquee>
 <div id="overlay">
        <div id="progstat"></div>
          <img src="{{ url_for('static', filename='img/load.gif') }}" id="imgLoad" >
        <div id="progress"></div>
      </div>
<div class="row">

  <div class="column">
    <div class="card">
        <h1>Vanilla LSTM </h1>
        <br>
        <h2>Predicted</h2>
        <span id="predVanilla"> </span>
        <h2>Absolute Error </h2>
        <span id="vanillaAe"> </span>


    </div>
  </div>
    <div class="column">
    <div class="card">
        <h1>Stacked LSTM </h1>
        <br>
        <h2>Predicted </h2>
        <span id="predStacked"> </span>
        <h2>Absolute Error</h2>
        <span id="stackedAe"> </span>

    </div>

  </div>
    <div class="column">
    <div class="card">
        <h1>Encoded LSTM </h1>
        <br>
        <h2>Predicted </h2>
        <span id="predEncoded"> </span>
        <h2>Absolute Error</h2>
        <span id="enae"> </span>

    </div>



  </div>
    <div class="column">
    <div class="card">
        <h1>CNN LSTM</h1>
        <br>
        <h2>Predicted </h2>
        <span id="predCNN"> </span>
        <h2>Absolute Error</h2>
        <span id="cnnae"> </span>

    </div>
  </div>
</div>

</div>
<br>
<div>
<div class="row">

  <div class="column">
    <div class="card">
        <h1>Convolutional LSTM</h1>
        <br>
        <h2>Predicted</h2>
        <span id="predConv"> </span>
        <h2>Absolute Error </h2>
        <span id="convae"> </span>


    </div>
  </div>
    <div class="column">
    <div class="card">
        <h1>Vector Output LSTM </h1>
        <br>
        <h2>Predicted </h2>
        <span id="predVectorO"> </span>
        <h2>Absolute Error</h2>
        <span id="voae"> </span>

    </div>

  </div>

   <div class="column">
    <div class="card">
        <h1>Bi-directional LSTM </h1>
        <br>
        <h2>Predicted </h2>
        <span id="predBiDirectional"> </span>
        <h2>Absolute Error</h2>
        <span id="biae"> </span>

    </div>
   </div>




</div>
    </div>
<div class="footer">
  <p>&#169;Developed by Vinit Vilas Sawant</p>
</div>
</body>
</html>